@import '../../../config';

.main-wrapper {
  margin: 0 auto;
  width: 100vw;
  max-width: 1500px;
}

.main-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 0 1vw;
  background: $main-background;
  box-shadow: 0px 0px 50px black;
}

.main-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-block--reverse {
  flex-direction: row-reverse;
}

.main-image {
  height: auto;
  max-height: 90vh;
  max-width: 50%;
  margin-top: 1vh;
}

p {
  width: 50%;
  max-width: 50%;

  margin: 10%;
  font: 2vh 'DIN', Helvetica, Sans-Serif;

  text-align: justify;
  text-justify: auto;

  color: $main-text-color;
}

main img {
  min-width: 40%;
  max-height: auto;
  box-shadow: 0px 0px 10px white;
}

@media (min-height: 1500px) {
  .main-image {
    height: auto;
  }
  p {
    font-size: 2rem;
  }
}

