@import "../../../config";

.main-wrapper {
  margin: 0 auto;
  width: 100vw;
  max-width: 1500px;
}

.main-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  background: #fff;
}

.main-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-block--reverse {
  flex-direction: row-reverse;
}

.main-image {
  height: 90vh;
  margin-top: 1vh;
}

p {
  width: 50%;
  margin: 10%;
  font: 2rem 'DIN', Helvetica, Sans-Serif;
  color: #121212; 
}

@media (min-height: 1500px) {
  .main-image {
    height: auto;
  }
}

@media (min-width: 1000px) {
  p {
    max-height: 200px;
  }
}

@media (max-height: 500px) {
  
  p {
    font-size: 50%;
    max-height: 30vh;
  }
}