@import "../../../config";

.main-wrapper {
  margin: 0 auto;
  max-width: 1284px;
}

.main-container {
  width: 100%;

  display: flex;
  background: #fff;
}

.main-image {
  width: 10%;
}

.main-image--left {
}

.main-image--right {
}
