@import '../../../config';

.right-header {
  width: auto;
  height: 100%;

  overflow: hidden;
  margin-right: 2vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.portal-logo {
  height: 70%;
  margin-left: 5px;
}

.portal-text {
  color: white;
  font-size: 2rem;
  font-family: 'DIN';
}
