@import '../../../config';

.right-header {
  width: auto;
  height: 100%;
  
  overflow: hidden;
  margin-right: 2vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.portal-logo {
  // height: 4vh;
  height: $header-height*0.6;
  margin-left: 5px;
}

.portal-text {
  color: white;  
  // font-size: 4vh;  
  font-size: $header-height*0.6;
  font-family: 'DIN';
}