$left-offset: 10vw;
$right-offset: 5vw;

.header {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #121212;
}

.header-start {
  width: 100%;
  position: absolute;

  display: grid;
  align-items: center;
  overflow: hidden;

  grid-template-columns: $left-offset 1fr 1fr $right-offset;
}

.react-logo {
  width: 70vh;
  grid-column: 2;
}

.left-header {
  width: 10vw;
  height: 10vh;

  display: flex;
  justify-content: center;

  background: blue;
}

.right-header {
  width: 10vw;
  height: 10vh;

  display: flex;
  justify-content: center;

  background: blue;
}
